<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <%# Bootstrap %> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  

  <title>SignUp</title>




</head>
<body>

  <%# Navigation %> 
  <%- include('../particials/_navigation', {login: false}); %>

  <div id="container">
    <div id="body">
      <div class="container mt-5">
        <h3 class="text-center mb-3">Signup Page</h3>

        <!-- if we have error message -->
        <% if (typeof message !== 'undefined') { %>
          <div class="col-md-12">
            <div class="alert <%- messageClass %>" role="alert">
              <!-- Display error message -->
              <p><%= message %> </p>  
            </div>
          </div>
        <% } %>

        <br><br>
        
        <form method="POST" action="/users/signup">
    
          <!-- firstName and lastName -->
          <div class="form-row">

            <!-- firstName -->
            <div class="form-group col-md-6 pl-5">
              <input type="text" name="firstName" class="form-control" placeholder="First name" <% if(typeof userInfo !== 'undefined') {%> value="<%= userInfo.firstName %>" <% } %> >
            </div>


            <!-- lastName -->
            <div class="form-group col-md-6">
              <input type="text" name="lastName" class="form-control" placeholder="Last name" <% if(typeof userInfo !== 'undefined') {%> value="<%= userInfo.lastName %>" <% } %>>
            </div>
            
          </div>


          <!-- username -->
          <div class="form-group col-md-6">
            <input type="text" name="username" class="form-control" placeholder="username" <% if(typeof userInfo !== 'undefined') {%> value="<%= userInfo.username %>" <% } %>>
          </div>

    
          <!-- Password -->
          <div class="form-group col-md-12">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password *****">
          </div>
    
          
          <!-- Password-confirmation -->
          <div class="form-group col-md-12">
            <input type="password" name="password_confirmation" class="form-control"  placeholder="Password confirmation *****">
          </div>
    

          <!-- Sex -->
          <div class="form-group col-md-12">
            <select class="form-control" name="sex">
              <option disabled selected value> -- select Your sex -- </option>
              <option value="male" <% if (typeof userInfo !== 'undefined' && userInfo.sex === "male") {%> selected <% } %>  > male</option>
              <option value="female" <% if (typeof userInfo !== 'undefined' && userInfo.sex === "female") {%> selected <% } %> > female</option>
            </select>
          </div>

          
          <!-- mobile -->
          <div class="form-group col-md-12">
            <input type="text" name="mobile" class="form-control"  placeholder="mobile num: +98 9331384222" <% if(typeof userInfo !== 'undefined') {%> value="<%= userInfo.mobile %>" <% } %> >
          </div>
    
          <!-- read the condition -->
          <!-- <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
    
          <br><br>
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">signup</button>
          </div>
          
        </form>

      </div>
    </div>

    
  </div>


  
  

   

</body>
</html>